# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java CI with Gradle

on: [pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Java 17
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build
#    - name: Code Coverage
#      run: ./gradlew codeCoverageReport 
#    - uses: codecov/codecov-action@v1
#      with:
#        file: build/reports/jacoco/codeCoverageReport/codeCoverageReport.xml
#        fail_ci_if_error: true

